{% load static %}

<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ theme.brand }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.tw.css" %}">
  
    {% include "_stylesheet.html" %}
    {% block stylesheet %}{% endblock %}
  </head>

  <body class="font-sans text-black min-h-screen
               flex flex-col justify-between items-center">
  
    {% block header %}
    <header id="navbar" class="sticky top-0 bg-blue w-screen border-b">
      {% block menu %}{% include "_header.html" %}{% endblock %}  
    </header>
    {% endblock %}
    
    
    {% block main %}
    <main id="main" class="grow flex flex-col justify-start items-center w-screen max-w-screen-lg">
      {% block content %}{% endblock %}
    </main>
    {% endblock %}
    
    {% block footer %}
      <footer id="footer" class="sticky bottom-0 bg-blue w-screen border-t">
        {% block footer_content %}{% include "_footer.html" %}{% endblock %}
      </footer>
    {% endblock %}
    
    {% include "_scripts.html" %}
    {% block scripts %}{% endblock %}
  </body>
</html>
