<nav class="flex flex-row flex-wrap justify-center items-center">
  <a class="font-bold text-lg p-4" href="{% url 'home' %}">
    {% if theme.logo %}
      <img style="max-height: 3rem" src="{{ theme.logo.url }}" alt="Site logo">
    {% else %}
      {{ theme.brand | default:'site brand' }}
    {% endif %}
  </a>

  <span class="grow"></span>

  {% for item in menu_items %}
  <a class="text-base p-4" {% if item.active %}data-active{% endif %} 
     aria-current="page" href="{{ item.url }}">{{ item.title }}</a>
  {% endfor %}
</nav>