{% extends "_base.html" %}
{% load i18n %}

{% block title %}{{ member.full_name }}{% endblock %}

{% block content %}

<section id="member-detail" 
         class="w-screen flex flex-row flex-wrap justify-around gap-2">
  <ul class="w-100 md:w-1/2 lg:w-1/3 border-default">
    <li class="active" aria-current="true">
      {{ member.full_name }}
    </li>
    <li>{{ member.user.email }}</li>
    <li>{{ member.phone }}</li>
    <li>{{ member.get_sex_display }}</li>
  </ul>
    
  <ul class="w-100 md:w-1/2 lg:w-1/3 border-default">
    <li class="active" aria-current="true">{% translate "Dati Anagrafici" %}</li>
    <li>{{ member.cf }}</li>
    <li>
      <span class="text-sm text-gray">{% translate "Nato il" %}:</span><br>
      {{ member.birth_date }}
    </li>
    <li>{{ member.birth_city }} ({{ member.birth_province }})</li>
  </ul>
    
  <ul class="w-100 md:w-1/2 lg:w-1/3 border-default">
    <li class="active" aria-current="true">
      {% translate "Documento" %}
    </li>
    <li>{{ member.get_document_type_display }}</li>
    <li>
      <span class="text-sm text-gray">{% translate "Rilasciato da" %}:</span><br>
      {{ member.document_grant_from }}
    </li>
    <li>{{ member.document_number }}</li>
    <li>
      <span class="text-sm text-gray">{% translate "Scadenza" %}: </span><br>
      {{ member.document_expires }}
    </li>
  </ul>

  <ul class="w-100 md:w-1/2 lg:w-1/3 border-default">
    <li class="active" aria-current="true">{% translate "Indirizzo di residenza" %}</li>
    <li>{{ member.address_description }} {{ member.address_number }}</li>
    {% if member.address_additional %}
      <li>{{ member.address_additional }}</li>
    {% endif %}
    <li>
      {{ member.address_city }} ({{ member.address_province }}), {{ member.address_postal_code }}
    </li>
  </ul>
</section>

{% endblock %}