{% extends "_base.html" %}
{% load i18n %}

{% block title %}{{ member.full_name }}{% endblock %}

{% block content %}
  
<h1>
  {% blocktranslate with name=member.full_name %}{{ name }} Profile{% endblocktranslate %}
</h1>

<section id="member-detail" class="w-full grid grid-cols-2 lg:grid-cols-4 gap-2">
  <ul class="border divide-y">
    <li class="active" aria-current="true">{{ member.full_name }}</li>
    <li>{{ member.user.email }}</li>
    <li>{{ member.phone }}</li>
    <li>{{ member.get_gender_display }}</li>
  </ul>  
  
  <ul class="border divide-y">
    <li class="active" aria-current="true">{% translate "Personal Data" %}</li>
    <li>{{ member.cf }}</li>
    <li>
      <span class="text-sm text-gray">{% translate "Birth date" %}:</span><br>
      {{ member.birth_date }}
    </li>
    <li>{{ member.birth_city }} ({{ member.birth_province }})</li>
  </ul>
  
  <ul class="border divide-y">
    <li class="active" aria-current="true">{% translate "Document" %}</li>
    <li>{{ member.get_document_type_display }}</li>
    <li>
      <span class="text-sm text-gray">{% translate "Granted by" %}:</span><br>
      {{ member.document_grant_from }}
    </li>
    <li>{{ member.document_number }}</li>
    <li>
      <span class="text-sm text-gray">{% translate "Expiration date" %}: </span><br>
      {{ member.document_expires }}
    </li>
  </ul>

  <ul class="border divide-y">
    <li class="active" aria-current="true">{% translate "Residence Address" %}</li>
    <li>{{ member.address.value }}</li>
    {% if member.address.additional %}
      <li>{{ member.address.additional }}</li>
    {% endif %}
    <li>
      {{ member.address.city }} ({{ member.address.region.code }})
    </li>
    <li>
      <span class="text-sm text-gray">{% translate "Postal Code" %}:</span>
      {{ member.address.zip_code }}
    </li>
  </ul>
</section>

<section class="w-full">
  <h2>{% translate "Memberships" %}</h2>
  <table class="w-full">
    <thead>
      <tr>
        <th>{% translate "Card" %}</th>
        <th>{% translate "Emission date" %}</th>
      </tr>
    </thead>
  
    <tbody>
      {% for membership in member.memberships.all %}
      <tr>
        <td>{{ membership }}</td>
        <td>{{ membership.created_at | date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}