{% extends "../_base.html" %}

{% block content %}
  <h1 class="text-center">ConoscereLinux A.p.s.</h1>
  
  <section id="courses" class="row">
    <div id="courses-filters" class="btn-group my-2" role="group" aria-label="Basic example">
      {% for mode_, text_ in modes.items %}
        <a href="{% url 'index' %}?mode={{ mode_ }}"
           class="btn btn-{% if mode == mode_ %}primary{% else %}outline-secondary{% endif %}">
          {{ text_ }}
        </a>
      {% endfor %}
    </div>
  
    {% for course in courses %}
      <div class="col-12 col-md-6 col-lg-4 p-1 my-2">
        <article class="card">
          {% if course.image %}
          <img class="card-img-top" src="" alt="">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ course.title }}</h5>
            <h6 class="card-subtitle">{{ course.subtitle }}</h6>
            <p class="card-text">{{ course.creation_date }}</p>  
          </div>
        </article>
      </div>
    {% endfor %}
  </section>
  
{% endblock %}