<div class="btn-group flex justify-center gap-0
            border-default divide-default divide-x-default">
  {% for mode_, text_ in modes.items %}
  <button class="p-2 {% if mode == mode_ %}text-white bg-blue{% endif %}" 
          onclick="window.location.href = '{% url 'home' %}?mode={{ mode_ }}'">
    {{ text_ }}
  </button>
  {% endfor %}
</div>

<div class="grid lg:grid-cols-2 gap-2 p-2">
{% for course in courses %}
  {% include "_course_card.html" with course=course %}
{% endfor %}  
</div>
