:root {
    --color-primary: #5498fe;
    --color-secondary: #cc6600;
    --color-text: #000000;
    --color-disabled: #555555;
    --color-background: #FFFFFF;
    --color-border: #333333;
    
    --border-thickness: .125rem;
}

.tc { text-align: center }
.measure { max-width: 30em; }
.disabled { color: var(--color-disabled); font-size: .75rem; }

/*.flex { display: flex; }*/
/*.flex-row { flex-direction: row; }*/
/*.flex-column { flex-direction: column; }*/
/*.flex-center { 
    display: flex; 
    justify-content: center; 
    align-items: center 
}*/

/*.grid { display: grid }*/

/*a, .link {*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*    */
/*    &:hover { opacity: 0.5; }*/
/*}*/


/*header#navbar > nav > a { font-size: 1.5rem; padding: 1rem; }*/

fieldset.grid {
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    row-gap: .5rem;
}
fieldset label { text-align: left; }


section#member-detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}
section#member-detail > ul.list {
    width: 100%; 
    @media screen and (min-width: 40em) { width: 45%; }
}

ul.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-top: var(--color-border) var(--border-thickness) solid;
}
ul.list > li { 
    padding: 1rem;
    border-left: var(--color-border) var(--border-thickness) solid;
    border-right: var(--color-border) var(--border-thickness) solid;
    border-bottom: var(--color-border) var(--border-thickness) solid;
}
ul.list > li.active {
    font-weight: bold;
    background-color: var(--color-primary);
    color: var(--color-background);
}

